@charset "utf-8";

.page-title {
  text-align: center;
}

.page-author {
  display: none;
}

.page-content p {
  line-height: 20px;
  background-color: #F00;
}

.page-content img {
  display: block;
  margin: 10px auto;
}

.page-content a:link {
  color: #06F;
  text-decoration: none;/* 未访问的链接 */
}

.page-content a:visited {
  color: #999;
  text-decoration: line-through;/* 已访问的链接 */
}

.page-content a:hover {
  color: #F00;
  text-decoration: underline;/* 鼠标移动到链接上 */
}

.page-content a:active {
  color: #F0F;/* 选定的链接 */
}